body {
}

ul {
  list-style-type: none;
  text-decoration: none
  
}

/* Logo */
.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}
.color {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: #2196f3;
}

/* nav-li */

.nav {
}
.li-wan {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  position: absolute;
  width: 45px;
  height: 16px;
  left: 453px;
  top: 32px;
}
/* ------------- */
.li-to {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  position: absolute;
  width: 72px;
  height: 16px;
  left: 548px;
  top: 32px;

  color: #212121;
}
/* --------------- */
.li-free {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  position: absolute;
  width: 64px;
  height: 16px;
  left: 670px;
  top: 32px;
}
/* adress */
.adress {
  text-decoration: none;
}
.adress-1 {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  color: #757575;
}
.adress-1:hover {
 color: #2196f3;
}
.adress-2 {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
  color: #757575;
}
